Repository ryu-qqq/AuthHub: changes, and which Atlantis projects are due for each by the changed paths.
All: authhub-ecr-prod, authhub-ecs-cluster-prod, authhub-elasticache-prod, authhub-ecs-web-api-prod

atlantis.yaml:

# ============================================================================
# AuthHub - Atlantis Configuration
# ============================================================================
# PR-based Terraform automation for AuthHub infrastructure
# ============================================================================

version: 3

automerge: false
delete_source_branch_on_merge: false
# Disable parallel plan to prevent plugin cache conflicts
parallel_plan: false
parallel_apply: false

projects:
  # ============================================================================
  # Container Registry
  # ============================================================================

  # ECR repository for web-api
  - name: authhub-ecr-prod
    dir: terraform/ecr
    workspace: default
    autoplan:
      when_modified: ["*.tf", "*.tfvars", "../*.tf"]
      enabled: true

  # ============================================================================
  # Core Infrastructure
  # ============================================================================

  # ECS Cluster (dedicated for authhub)
  - name: authhub-ecs-cluster-prod
    dir: terraform/ecs-cluster
    workspace: default
    autoplan:
      when_modified: ["*.tf", "*.tfvars", "../*.tf"]
      enabled: true

  # ElastiCache (Redis for Redisson Lock + Cache)
  - name: authhub-elasticache-prod
    dir: terraform/elasticache
    workspace: default
    autoplan:
      when_modified: ["*.tf", "*.tfvars", "../*.tf"]
      enabled: true

  # ============================================================================
  # Application Infrastructure
  # ============================================================================

  # ECS Service for web-api (ALB + Auto Scaling)
  - name: authhub-ecs-web-api-prod
    dir: terraform/ecs-web-api
    workspace: default
    autoplan:
      when_modified: ["*.tf", "*.tfvars", "../*.tf"]
      enabled: true

feat: RS256 JWT signing for Gateway integration
  adapter-out/security/src/main/java/com/ryuqq/authhub/adapter/out/security/config/JwtProperties.java
  adapter-out/security/src/main/java/com/ryuqq/authhub/adapter/out/security/jwt/JwksAdapter.java
  adapter-out/security/src/main/java/com/ryuqq/authhub/adapter/out/security/jwt/JwtTokenProviderAdapter.java
  terraform/ecs-web-api/main.tf
  terraform/ecs-web-api/provider.tf
Due: authhub-ecs-web-api-prod

test: fix RsaKeyProperties constructor and exception handling tests
  adapter-out/security/src/test/java/com/ryuqq/authhub/adapter/out/security/jwt/JwksAdapterTest.java
  adapter-out/security/src/test/java/com/ryuqq/authhub/adapter/out/security/jwt/JwtTokenProviderAdapterTest.java
Due: none

test: add JwksAdapter happy path tests for improved coverage
  adapter-out/security/src/test/java/com/ryuqq/authhub/adapter/out/security/jwt/JwksAdapterTest.java
Due: none

feat: add tenant onboarding API with REST Docs and Gateway routing
  adapter-in/rest-api/src/docs/asciidoc/index.adoc
  adapter-in/rest-api/src/docs/asciidoc/v1/system/system.adoc
  adapter-in/rest-api/src/main/java/com/ryuqq/authhub/adapter/in/rest/auth/paths/ApiPaths.java
  adapter-in/rest-api/src/main/java/com/ryuqq/authhub/adapter/in/rest/common/controller/GlobalExceptionHandler.java
  adapter-in/rest-api/src/main/java/com/ryuqq/authhub/adapter/in/rest/config/WebMvcConfig.java
  adapter-in/rest-api/src/main/java/com/ryuqq/authhub/adapter/in/rest/system/controller/TenantOnboardingController.java
  adapter-in/rest-api/src/main/java/com/ryuqq/authhub/adapter/in/rest/system/dto/command/TenantOnboardingApiRequest.java
  adapter-in/rest-api/src/main/java/com/ryuqq/authhub/adapter/in/rest/system/dto/response/TenantOnboardingApiResponse.java
  adapter-in/rest-api/src/main/java/com/ryuqq/authhub/adapter/in/rest/system/mapper/TenantOnboardingApiMapper.java
  adapter-in/rest-api/src/main/resources/static/docs/index.html
  adapter-in/rest-api/src/main/resources/static/docs/v1/auth/auth.html
  adapter-in/rest-api/src/main/resources/static/docs/v1/organization/organization.html
  adapter-in/rest-api/src/main/resources/static/docs/v1/permission/permission.html
  adapter-in/rest-api/src/main/resources/static/docs/v1/role/role.html
  adapter-in/rest-api/src/main/resources/static/docs/v1/system/system.html
  adapter-in/rest-api/src/main/resources/static/docs/v1/user/user.html
  adapter-in/rest-api/src/test/java/com/ryuqq/authhub/adapter/in/rest/system/controller/TenantOnboardingControllerDocsTest.java
  application/src/main/java/com/ryuqq/authhub/application/onboarding/dto/command/TenantOnboardingCommand.java
  application/src/main/java/com/ryuqq/authhub/application/onboarding/dto/response/TenantOnboardingResponse.java
  application/src/main/java/com/ryuqq/authhub/application/onboarding/facade/TenantOnboardingFacade.java
  application/src/main/java/com/ryuqq/authhub/application/onboarding/port/in/command/TenantOnboardingUseCase.java
  application/src/main/java/com/ryuqq/authhub/application/onboarding/service/TenantOnboardingService.java
  config/spotbugs/spotbugs-exclude.xml
Due: none

fix: apply AI review feedback for tenant onboarding API
  adapter-in/rest-api/src/main/java/com/ryuqq/authhub/adapter/in/rest/auth/config/SecurityConfig.java
  adapter-in/rest-api/src/main/java/com/ryuqq/authhub/adapter/in/rest/auth/config/ServiceTokenProperties.java
  adapter-in/rest-api/src/main/java/com/ryuqq/authhub/adapter/in/rest/auth/filter/ServiceTokenAuthenticationFilter.java
  adapter-in/rest-api/src/main/java/com/ryuqq/authhub/adapter/in/rest/auth/paths/SecurityPaths.java
  adapter-in/rest-api/src/test/java/com/ryuqq/authhub/adapter/in/rest/auth/config/SecurityConfigTest.java
  adapter-in/rest-api/src/test/java/com/ryuqq/authhub/adapter/in/rest/common/ControllerTestSecurityConfig.java
  adapter-in/rest-api/src/test/java/com/ryuqq/authhub/adapter/in/rest/system/controller/TenantOnboardingControllerDocsTest.java
  application/src/main/java/com/ryuqq/authhub/application/onboarding/facade/TenantOnboardingFacade.java
  application/src/main/java/com/ryuqq/authhub/application/onboarding/service/TenantOnboardingService.java
Due: none

feat: require authentication for API docs endpoints
  adapter-in/rest-api/src/main/java/com/ryuqq/authhub/adapter/in/rest/auth/config/SecurityConfig.java
Due: none

feat: enable Swagger/OpenAPI in production environment
  adapter-in/rest-api/src/main/resources/rest-api-prod.yml
Due: none

feat: enable Swagger via SWAGGER_ENABLED env variable
  adapter-in/rest-api/src/main/resources/rest-api-prod.yml
  terraform/ecs-web-api/main.tf
Due: authhub-ecs-web-api-prod

fix: change Swagger default to enabled for production
  adapter-in/rest-api/src/main/resources/rest-api-prod.yml
Due: none

refactor: remove ServiceTokenAuthenticationFilter and TenantOnboarding API
  adapter-in/rest-api/src/main/java/com/ryuqq/authhub/adapter/in/rest/auth/config/SecurityConfig.java
  adapter-in/rest-api/src/main/java/com/ryuqq/authhub/adapter/in/rest/auth/filter/ServiceTokenAuthenticationFilter.java
  adapter-in/rest-api/src/main/java/com/ryuqq/authhub/adapter/in/rest/auth/paths/ApiPaths.java
  adapter-in/rest-api/src/main/java/com/ryuqq/authhub/adapter/in/rest/auth/paths/SecurityPaths.java
  adapter-in/rest-api/src/main/java/com/ryuqq/authhub/adapter/in/rest/system/controller/TenantOnboardingController.java
  adapter-in/rest-api/src/main/java/com/ryuqq/authhub/adapter/in/rest/system/dto/command/TenantOnboardingApiRequest.java
  adapter-in/rest-api/src/main/java/com/ryuqq/authhub/adapter/in/rest/system/dto/response/TenantOnboardingApiResponse.java
  adapter-in/rest-api/src/main/java/com/ryuqq/authhub/adapter/in/rest/system/mapper/TenantOnboardingApiMapper.java
  adapter-in/rest-api/src/test/java/com/ryuqq/authhub/adapter/in/rest/auth/config/SecurityConfigTest.java
  adapter-in/rest-api/src/test/java/com/ryuqq/authhub/adapter/in/rest/common/ControllerTestSecurityConfig.java
  adapter-in/rest-api/src/test/java/com/ryuqq/authhub/adapter/in/rest/system/controller/TenantOnboardingControllerDocsTest.java
  application/src/main/java/com/ryuqq/authhub/application/onboarding/dto/command/TenantOnboardingCommand.java
  application/src/main/java/com/ryuqq/authhub/application/onboarding/dto/response/TenantOnboardingResponse.java
  application/src/main/java/com/ryuqq/authhub/application/onboarding/facade/TenantOnboardingFacade.java
  application/src/main/java/com/ryuqq/authhub/application/onboarding/port/in/command/TenantOnboardingUseCase.java
  application/src/main/java/com/ryuqq/authhub/application/onboarding/service/TenantOnboardingService.java
Due: none

feat: implement UUIDv7 generation with DIP pattern
  adapter-out/persistence-mysql/src/test/java/com/ryuqq/authhub/adapter/out/persistence/tenant/mapper/TenantJpaEntityMapperTest.java
  application/src/main/java/com/ryuqq/authhub/application/organization/factory/command/OrganizationCommandFactory.java
  application/src/main/java/com/ryuqq/authhub/application/role/factory/command/RoleCommandFactory.java
  application/src/main/java/com/ryuqq/authhub/application/tenant/factory/command/TenantCommandFactory.java
  application/src/main/java/com/ryuqq/authhub/application/user/factory/command/UserCommandFactory.java
  application/src/test/java/com/ryuqq/authhub/application/organization/factory/command/OrganizationCommandFactoryTest.java
  application/src/test/java/com/ryuqq/authhub/application/role/factory/command/RoleCommandFactoryTest.java
  application/src/test/java/com/ryuqq/authhub/application/tenant/factory/command/TenantCommandFactoryTest.java
  application/src/test/java/com/ryuqq/authhub/application/user/factory/command/UserCommandFactoryTest.java
  bootstrap/bootstrap-web-api/build.gradle
  bootstrap/bootstrap-web-api/src/main/java/com/ryuqq/bootstrap/config/UuidConfig.java
  bootstrap/bootstrap-web-api/src/main/java/com/ryuqq/bootstrap/config/UuidV7Holder.java
  domain/src/main/java/com/ryuqq/authhub/domain/common/util/UuidHolder.java
  domain/src/main/java/com/ryuqq/authhub/domain/organization/aggregate/Organization.java
  domain/src/main/java/com/ryuqq/authhub/domain/role/aggregate/Role.java
  domain/src/main/java/com/ryuqq/authhub/domain/tenant/aggregate/Tenant.java
  domain/src/test/java/com/ryuqq/authhub/domain/organization/aggregate/OrganizationTest.java
  domain/src/test/java/com/ryuqq/authhub/domain/role/aggregate/RoleTest.java
  domain/src/test/java/com/ryuqq/authhub/domain/tenant/aggregate/TenantTest.java
  domain/src/testFixtures/java/com/ryuqq/authhub/domain/organization/fixture/OrganizationFixture.java
  domain/src/testFixtures/java/com/ryuqq/authhub/domain/role/fixture/RoleFixture.java
  domain/src/testFixtures/java/com/ryuqq/authhub/domain/tenant/fixture/TenantFixture.java
  otel-config-api.yaml
Due: none

otel-config 수정
  otel-config-api.yaml
Due: none

refactor: remove ApiResponse.ofFailure() and ErrorInfo (dead code cleanup)
  .claude/commands/impl/rest-api.md
  adapter-in/rest-api/src/main/java/com/ryuqq/authhub/adapter/in/rest/common/dto/ApiResponse.java
  adapter-in/rest-api/src/main/java/com/ryuqq/authhub/adapter/in/rest/common/dto/ErrorInfo.java
  adapter-in/rest-api/src/test/java/com/ryuqq/authhub/adapter/in/rest/architecture/common/ApiResponseArchTest.java
  bootstrap/bootstrap-web-api/src/test/java/com/ryuqq/bootstrap/migration/UuidV7MigrationSqlGenerator.java
  docs/coding_convention/01-adapter-in-layer/rest-api/controller/controller-guide.md
  docs/coding_convention/01-adapter-in-layer/rest-api/controller/controller-test-guide.md
  docs/coding_convention/01-adapter-in-layer/rest-api/dto/response/response-dto-guide.md
  docs/coding_convention/01-adapter-in-layer/rest-api/error/error-guide.md
  docs/coding_convention/01-adapter-in-layer/rest-api/rest-api-guide.md
Due: none

refactor: fix static analysis violations
  adapter-in/rest-api/src/main/java/com/ryuqq/authhub/adapter/in/rest/auth/component/ScopeValidator.java
  adapter-in/rest-api/src/main/java/com/ryuqq/authhub/adapter/in/rest/auth/filter/GatewayAuthenticationFilter.java
  adapter-in/rest-api/src/main/java/com/ryuqq/authhub/adapter/in/rest/auth/filter/GatewayHeaderExtractor.java
  adapter-in/rest-api/src/test/java/com/ryuqq/authhub/adapter/in/rest/auth/component/ScopeValidatorTest.java
  application/src/main/java/com/ryuqq/authhub/application/auth/service/ScopeBasedAccessControl.java
Due: none

fix: REST Docs 테스트 및 ArchUnit 위반 수정
  adapter-in/rest-api/src/main/java/com/ryuqq/authhub/adapter/in/rest/organization/dto/response/OrganizationUserApiResponse.java
  adapter-in/rest-api/src/main/java/com/ryuqq/authhub/adapter/in/rest/role/dto/response/RoleUserApiResponse.java
  adapter-in/rest-api/src/test/java/com/ryuqq/authhub/adapter/in/rest/auth/controller/AuthControllerDocsTest.java
  adapter-in/rest-api/src/test/java/com/ryuqq/authhub/adapter/in/rest/organization/controller/OrganizationControllerDocsTest.java
  adapter-in/rest-api/src/test/java/com/ryuqq/authhub/adapter/in/rest/permission/controller/PermissionControllerDocsTest.java
  adapter-in/rest-api/src/test/java/com/ryuqq/authhub/adapter/in/rest/role/controller/RoleControllerDocsTest.java
  adapter-in/rest-api/src/test/java/com/ryuqq/authhub/adapter/in/rest/tenant/controller/TenantControllerDocsTest.java
  adapter-in/rest-api/src/test/java/com/ryuqq/authhub/adapter/in/rest/user/controller/UserControllerDocsTest.java
  adapter-out/persistence-mysql/src/main/java/com/ryuqq/authhub/adapter/out/persistence/organization/adapter/OrganizationUserQueryAdapter.java
  adapter-out/persistence-mysql/src/main/java/com/ryuqq/authhub/adapter/out/persistence/organization/mapper/OrganizationUserMapper.java
  adapter-out/persistence-mysql/src/main/java/com/ryuqq/authhub/adapter/out/persistence/role/adapter/RoleUserQueryAdapter.java
  adapter-out/persistence-mysql/src/main/java/com/ryuqq/authhub/adapter/out/persistence/role/mapper/RoleUserMapper.java
Due: none

fix: CodeRabbit AI 리뷰 이슈 수정
  adapter-in/rest-api/src/main/java/com/ryuqq/authhub/adapter/in/rest/auth/filter/ServiceTokenFilter.java
  adapter-in/rest-api/src/main/java/com/ryuqq/authhub/adapter/in/rest/organization/controller/OrganizationQueryController.java
  adapter-in/rest-api/src/main/java/com/ryuqq/authhub/adapter/in/rest/role/controller/RoleQueryController.java
  adapter-in/rest-api/src/test/java/com/ryuqq/authhub/adapter/in/rest/organization/controller/OrganizationQueryControllerTest.java
  adapter-in/rest-api/src/test/java/com/ryuqq/authhub/adapter/in/rest/role/controller/RoleQueryControllerTest.java
Due: none

fix: add missing kms_key_arn argument to ECR module
  terraform/ecr/main.tf
Due: authhub-ecr-prod

fix: use existing KMS key for ECR encryption
  terraform/ecr/main.tf
Due: authhub-ecr-prod

fix: keep AES256 encryption to avoid ECR recreation
  terraform/ecr/main.tf
Due: authhub-ecr-prod

feat: enable KMS encryption for ECR with force_delete
  terraform/ecr/main.tf
Due: authhub-ecr-prod

fix: use terraform init -upgrade to fetch latest modules
  .github/workflows/terraform-apply.yml
Due: none

fix: pre-delete ECR with AWS CLI before terraform replacement
  .github/workflows/terraform-apply.yml
Due: none

feat: CI/CD용 권한 검증 및 사용 이력 API 구현
  adapter-in/rest-api/src/main/java/com/ryuqq/authhub/adapter/in/rest/auth/paths/ApiPaths.java
  adapter-in/rest-api/src/main/java/com/ryuqq/authhub/adapter/in/rest/internal/controller/InternalPermissionController.java
  adapter-in/rest-api/src/main/java/com/ryuqq/authhub/adapter/in/rest/internal/dto/command/RegisterPermissionUsageApiRequest.java
  adapter-in/rest-api/src/main/java/com/ryuqq/authhub/adapter/in/rest/internal/dto/command/ValidatePermissionsApiRequest.java
  adapter-in/rest-api/src/main/java/com/ryuqq/authhub/adapter/in/rest/internal/dto/response/PermissionUsageApiResponse.java
  adapter-in/rest-api/src/main/java/com/ryuqq/authhub/adapter/in/rest/internal/dto/response/ValidatePermissionsApiResponse.java
  adapter-in/rest-api/src/main/java/com/ryuqq/authhub/adapter/in/rest/internal/mapper/InternalApiMapper.java
  adapter-in/rest-api/src/test/java/com/ryuqq/authhub/adapter/in/rest/internal/controller/InternalPermissionControllerTest.java
  adapter-out/persistence-mysql/src/main/java/com/ryuqq/authhub/adapter/out/persistence/permission/adapter/PermissionQueryAdapter.java
  adapter-out/persistence-mysql/src/main/java/com/ryuqq/authhub/adapter/out/persistence/permission/adapter/PermissionUsageCommandAdapter.java
  adapter-out/persistence-mysql/src/main/java/com/ryuqq/authhub/adapter/out/persistence/permission/adapter/PermissionUsageQueryAdapter.java
  adapter-out/persistence-mysql/src/main/java/com/ryuqq/authhub/adapter/out/persistence/permission/entity/PermissionUsageJpaEntity.java
  adapter-out/persistence-mysql/src/main/java/com/ryuqq/authhub/adapter/out/persistence/permission/mapper/PermissionUsageJpaEntityMapper.java
  adapter-out/persistence-mysql/src/main/java/com/ryuqq/authhub/adapter/out/persistence/permission/repository/PermissionQueryDslRepository.java
  adapter-out/persistence-mysql/src/main/java/com/ryuqq/authhub/adapter/out/persistence/permission/repository/PermissionUsageJpaRepository.java
  adapter-out/persistence-mysql/src/main/java/com/ryuqq/authhub/adapter/out/persistence/permission/repository/PermissionUsageQueryDslRepository.java
  application/src/main/java/com/ryuqq/authhub/application/permission/dto/command/RegisterPermissionUsageCommand.java
  application/src/main/java/com/ryuqq/authhub/application/permission/dto/command/ValidatePermissionsCommand.java
  application/src/main/java/com/ryuqq/authhub/application/permission/dto/response/PermissionUsageResponse.java
  application/src/main/java/com/ryuqq/authhub/application/permission/dto/response/ValidatePermissionsResult.java
  application/src/main/java/com/ryuqq/authhub/application/permission/manager/command/PermissionUsageTransactionManager.java
  application/src/main/java/com/ryuqq/authhub/application/permission/manager/query/PermissionReadManager.java
  application/src/main/java/com/ryuqq/authhub/application/permission/manager/query/PermissionUsageReadManager.java
  application/src/main/java/com/ryuqq/authhub/application/permission/port/in/command/RegisterPermissionUsageUseCase.java
  application/src/main/java/com/ryuqq/authhub/application/permission/port/in/command/ValidatePermissionsUseCase.java
  application/src/main/java/com/ryuqq/authhub/application/permission/port/out/command/PermissionUsagePersistencePort.java
  application/src/main/java/com/ryuqq/authhub/application/permission/port/out/query/PermissionQueryPort.java
  application/src/main/java/com/ryuqq/authhub/application/permission/port/out/query/PermissionUsageQueryPort.java
  application/src/main/java/com/ryuqq/authhub/application/permission/service/command/RegisterPermissionUsageService.java
  application/src/main/java/com/ryuqq/authhub/application/permission/service/command/ValidatePermissionsService.java
  application/src/test/java/com/ryuqq/authhub/application/permission/service/command/ValidatePermissionsServiceTest.java
  domain/src/main/java/com/ryuqq/authhub/domain/permission/aggregate/PermissionUsage.java
  domain/src/main/java/com/ryuqq/authhub/domain/permission/identifier/PermissionUsageId.java
  domain/src/main/java/com/ryuqq/authhub/domain/permission/vo/CodeLocation.java
  domain/src/main/java/com/ryuqq/authhub/domain/permission/vo/ServiceName.java
Due: none

refactor: AI review 피드백 반영 (Law of Demeter, Assembler 패턴)
  adapter-in/rest-api/src/main/java/com/ryuqq/authhub/adapter/in/rest/internal/mapper/InternalApiMapper.java
  adapter-in/rest-api/src/test/java/com/ryuqq/authhub/adapter/in/rest/internal/controller/InternalPermissionControllerTest.java
  adapter-out/persistence-mysql/src/main/java/com/ryuqq/authhub/adapter/out/persistence/permission/adapter/PermissionUsageCommandAdapter.java
  application/src/main/java/com/ryuqq/authhub/application/permission/assembler/PermissionUsageAssembler.java
  application/src/main/java/com/ryuqq/authhub/application/permission/port/out/command/PermissionUsagePersistencePort.java
  application/src/main/java/com/ryuqq/authhub/application/permission/service/command/RegisterPermissionUsageService.java
  application/src/main/java/com/ryuqq/authhub/application/permission/service/command/ValidatePermissionsService.java
  domain/src/main/java/com/ryuqq/authhub/domain/permission/aggregate/PermissionUsage.java
  domain/src/main/java/com/ryuqq/authhub/domain/permission/vo/ServiceName.java
Due: none

docs: n8n 워크플로우 및 통합 가이드 문서 추가
  docs/common-auth-library-guide.md
  docs/n8n/README.md
  docs/n8n/permission-approval-workflow.json
  docs/n8n/slack-app-manifest.json
  docs/n8n/test-webhook.sh
  docs/prd/authhub-integration-guide.md
Due: none

fix: permission_usages 테이블 마이그레이션 추가
  adapter-out/persistence-mysql/src/main/resources/db/migration/V3__create_permission_usages.sql
Due: none

fix: AI review 반영 - 중복 인덱스 제거 및 JSON 타입 적용
  adapter-out/persistence-mysql/src/main/resources/db/migration/V3__create_permission_usages.sql
Due: none

fix: ADOT collector - metricstransform 프로세서 정의 추가
  otel-config-api.yaml
Due: none

feat: n8n/CI-CD 내부 API용 Service Token 설정 추가
  docs/n8n/permission-approval-workflow.json
  terraform/ecs-web-api/main.tf
  terraform/ecs-web-api/provider.tf
Due: authhub-ecs-web-api-prod

fix(security): n8n 워크플로우 하드코딩 제거
  docs/n8n/permission-approval-workflow.json
Due: none

fix: Spring Boot 환경변수 네이밍 규칙 적용
  terraform/ecs-web-api/main.tf
Due: authhub-ecs-web-api-prod

feat(common-auth): SecurityContext 인터페이스 기반 설계 도입
  common-auth/src/main/java/com/ryuqq/auth/common/access/BaseAccessChecker.java
  common-auth/src/main/java/com/ryuqq/auth/common/context/SecurityContext.java
  common-auth/src/main/java/com/ryuqq/auth/common/context/UserContext.java
  common-auth/src/main/java/com/ryuqq/auth/common/util/PermissionMatcher.java
Due: none

fix: Javadoc @see 참조 수정 (SecurityContextHolder → UserContextHolder)
  common-auth/src/main/java/com/ryuqq/auth/common/context/SecurityContext.java
Due: none

fix: AI review 피드백 반영 - Law of Demeter 및 Javadoc 개선
  common-auth/src/main/java/com/ryuqq/auth/common/access/BaseAccessChecker.java
  common-auth/src/main/java/com/ryuqq/auth/common/context/SecurityContext.java
Due: none

fix: AI review 피드백 반영 - createdAt 불변성 및 Javadoc 개선
  adapter-out/persistence-mysql/src/main/java/com/ryuqq/authhub/adapter/out/persistence/organization/mapper/OrganizationJpaEntityMapper.java
  adapter-out/persistence-mysql/src/main/java/com/ryuqq/authhub/adapter/out/persistence/permission/mapper/PermissionJpaEntityMapper.java
  adapter-out/persistence-mysql/src/main/java/com/ryuqq/authhub/adapter/out/persistence/role/mapper/RoleJpaEntityMapper.java
  adapter-out/persistence-mysql/src/main/java/com/ryuqq/authhub/adapter/out/persistence/tenant/mapper/TenantJpaEntityMapper.java
  adapter-out/persistence-mysql/src/main/java/com/ryuqq/authhub/adapter/out/persistence/user/mapper/UserJpaEntityMapper.java
  integration-test/src/test/java/com/ryuqq/authhub/integration/auth/fixture/AuthIntegrationTestFixture.java
  integration-test/src/test/java/com/ryuqq/authhub/integration/organization/fixture/OrganizationIntegrationTestFixture.java
  integration-test/src/test/java/com/ryuqq/authhub/integration/permission/fixture/PermissionIntegrationTestFixture.java
  integration-test/src/test/java/com/ryuqq/authhub/integration/role/fixture/RoleIntegrationTestFixture.java
  integration-test/src/test/java/com/ryuqq/authhub/integration/tenant/fixture/TenantIntegrationTestFixture.java
  integration-test/src/test/java/com/ryuqq/authhub/integration/user/fixture/UserIntegrationTestFixture.java
  integration-test/src/test/resources/application-test.yml
Due: none

chore(ci): CI에서 integration-test 제외
  .github/workflows/ci.yml
Due: none

fix(ci): jacocoTestCoverageVerification에서도 integration-test 제외
  .github/workflows/ci.yml
Due: none
