Repository ryu-qqq/AuthHub: changes, and which Atlantis projects are due for each by the changed paths.
All: authhub-ecr-prod, authhub-ecs-cluster-prod, authhub-elasticache-prod, authhub-ecs-web-api-prod

atlantis.yaml:

# ============================================================================
# AuthHub - Atlantis Configuration
# ============================================================================
# PR-based Terraform automation for AuthHub infrastructure
# ============================================================================

version: 3

automerge: false
delete_source_branch_on_merge: false
# Disable parallel plan to prevent plugin cache conflicts
parallel_plan: false
parallel_apply: false

projects:
  # ============================================================================
  # Container Registry
  # ============================================================================

  # ECR repository for web-api
  - name: authhub-ecr-prod
    dir: terraform/ecr
    workspace: default
    autoplan:
      when_modified: ["*.tf", "*.tfvars", "../*.tf"]
      enabled: true

  # ============================================================================
  # Core Infrastructure
  # ============================================================================

  # ECS Cluster (dedicated for authhub)
  - name: authhub-ecs-cluster-prod
    dir: terraform/ecs-cluster
    workspace: default
    autoplan:
      when_modified: ["*.tf", "*.tfvars", "../*.tf"]
      enabled: true

  # ElastiCache (Redis for Redisson Lock + Cache)
  - name: authhub-elasticache-prod
    dir: terraform/elasticache
    workspace: default
    autoplan:
      when_modified: ["*.tf", "*.tfvars", "../*.tf"]
      enabled: true

  # ============================================================================
  # Application Infrastructure
  # ============================================================================

  # ECS Service for web-api (ALB + Auto Scaling)
  - name: authhub-ecs-web-api-prod
    dir: terraform/ecs-web-api
    workspace: default
    autoplan:
      when_modified: ["*.tf", "*.tfvars", "../*.tf"]
      enabled: true

Revert "fix: ecs-web-api autoplan 비활성화"
  atlantis.yaml
Due: none

test: Application/Domain 레이어 테스트 커버리지 개선
  application/src/test/java/com/ryuqq/authhub/application/auth/assembler/LoginResponseAssemblerTest.java
  application/src/test/java/com/ryuqq/authhub/application/auth/component/LoginValidatorTest.java
  application/src/test/java/com/ryuqq/authhub/application/auth/manager/RefreshTokenCacheManagerTest.java
  application/src/test/java/com/ryuqq/authhub/application/auth/manager/RefreshTokenPersistenceManagerTest.java
  application/src/test/java/com/ryuqq/authhub/application/auth/manager/RefreshTokenReaderTest.java
  application/src/test/java/com/ryuqq/authhub/application/auth/manager/TokenManagerTest.java
  application/src/test/java/com/ryuqq/authhub/application/endpointpermission/manager/command/EndpointPermissionTransactionManagerTest.java
  application/src/test/java/com/ryuqq/authhub/application/endpointpermission/manager/query/EndpointPermissionReadManagerTest.java
  application/src/test/java/com/ryuqq/authhub/application/organization/assembler/OrganizationAssemblerTest.java
  application/src/test/java/com/ryuqq/authhub/application/organization/factory/command/OrganizationCommandFactoryTest.java
  application/src/test/java/com/ryuqq/authhub/application/organization/manager/command/OrganizationTransactionManagerTest.java
  application/src/test/java/com/ryuqq/authhub/application/organization/manager/query/OrganizationReadManagerTest.java
  application/src/test/java/com/ryuqq/authhub/application/permission/assembler/PermissionAssemblerTest.java
  application/src/test/java/com/ryuqq/authhub/application/permission/factory/command/PermissionCommandFactoryTest.java
  application/src/test/java/com/ryuqq/authhub/application/permission/manager/command/PermissionTransactionManagerTest.java
  application/src/test/java/com/ryuqq/authhub/application/permission/manager/query/PermissionReadManagerTest.java
  application/src/test/java/com/ryuqq/authhub/application/role/assembler/RoleAssemblerTest.java
  application/src/test/java/com/ryuqq/authhub/application/role/factory/command/RoleCommandFactoryTest.java
  application/src/test/java/com/ryuqq/authhub/application/role/manager/command/RoleTransactionManagerTest.java
  application/src/test/java/com/ryuqq/authhub/application/role/manager/query/RoleReadManagerTest.java
  application/src/test/java/com/ryuqq/authhub/application/user/assembler/UserAssemblerTest.java
  application/src/test/java/com/ryuqq/authhub/application/user/assembler/UserRoleAssemblerTest.java
  application/src/test/java/com/ryuqq/authhub/application/user/factory/command/UserCommandFactoryTest.java
  application/src/test/java/com/ryuqq/authhub/application/user/factory/command/UserRoleCommandFactoryTest.java
  application/src/test/java/com/ryuqq/authhub/application/user/manager/command/UserRoleTransactionManagerTest.java
  application/src/test/java/com/ryuqq/authhub/application/user/manager/command/UserTransactionManagerTest.java
  application/src/test/java/com/ryuqq/authhub/application/user/manager/query/UserReadManagerTest.java
  application/src/test/java/com/ryuqq/authhub/application/user/manager/query/UserRoleReadManagerTest.java
  domain/src/test/java/com/ryuqq/authhub/domain/endpointpermission/exception/DuplicateEndpointPermissionExceptionTest.java
  domain/src/test/java/com/ryuqq/authhub/domain/endpointpermission/exception/EndpointPermissionErrorCodeTest.java
  domain/src/test/java/com/ryuqq/authhub/domain/endpointpermission/exception/EndpointPermissionNotFoundExceptionTest.java
  domain/src/test/java/com/ryuqq/authhub/domain/endpointpermission/exception/InvalidEndpointPathExceptionTest.java
Due: none

feat: JWT Hybrid Payload 구현 및 테스트 커버리지 개선
  adapter-out/security/build.gradle
  adapter-out/security/src/main/java/com/ryuqq/authhub/adapter/out/security/jwt/JwtTokenProviderAdapter.java
  adapter-out/security/src/test/java/com/ryuqq/authhub/adapter/out/security/jwt/JwksAdapterTest.java
  adapter-out/security/src/test/java/com/ryuqq/authhub/adapter/out/security/jwt/JwtTokenProviderAdapterTest.java
  adapter-out/security/src/test/java/com/ryuqq/authhub/adapter/out/security/password/BCryptPasswordEncoderAdapterTest.java
  application/src/main/java/com/ryuqq/authhub/application/auth/dto/command/TokenClaimsContext.java
  application/src/main/java/com/ryuqq/authhub/application/auth/manager/TokenManager.java
  application/src/main/java/com/ryuqq/authhub/application/auth/port/out/client/TokenProviderPort.java
  application/src/main/java/com/ryuqq/authhub/application/auth/service/LoginService.java
  application/src/test/java/com/ryuqq/authhub/application/auth/assembler/LoginResponseAssemblerTest.java
  application/src/test/java/com/ryuqq/authhub/application/auth/dto/command/TokenClaimsContextTest.java
  application/src/test/java/com/ryuqq/authhub/application/auth/manager/RefreshTokenCacheManagerTest.java
  application/src/test/java/com/ryuqq/authhub/application/auth/manager/TokenManagerTest.java
  application/src/test/java/com/ryuqq/authhub/application/auth/service/LoginServiceTest.java
  application/src/test/java/com/ryuqq/authhub/application/endpointpermission/manager/query/EndpointPermissionReadManagerTest.java
  application/src/test/java/com/ryuqq/authhub/application/organization/factory/command/OrganizationCommandFactoryTest.java
  application/src/test/java/com/ryuqq/authhub/application/permission/manager/query/PermissionReadManagerTest.java
  application/src/test/java/com/ryuqq/authhub/application/role/factory/command/RoleCommandFactoryTest.java
  application/src/test/java/com/ryuqq/authhub/application/role/manager/query/RoleReadManagerTest.java
  application/src/test/java/com/ryuqq/authhub/application/user/factory/command/UserRoleCommandFactoryTest.java
  application/src/test/java/com/ryuqq/authhub/application/user/manager/query/UserReadManagerTest.java
  config/pmd/pmd-ruleset.xml
  domain/src/test/java/com/ryuqq/authhub/domain/endpointpermission/exception/DuplicateEndpointPermissionExceptionTest.java
  domain/src/test/java/com/ryuqq/authhub/domain/endpointpermission/exception/EndpointPermissionErrorCodeTest.java
  domain/src/test/java/com/ryuqq/authhub/domain/endpointpermission/exception/EndpointPermissionNotFoundExceptionTest.java
  domain/src/test/java/com/ryuqq/authhub/domain/endpointpermission/exception/InvalidEndpointPathExceptionTest.java
  terraform/ecs-web-api/provider.tf
Due: authhub-ecs-web-api-prod

chore: Add Dockerfile for web-api deployment
  bootstrap/bootstrap-web-api/.dockerignore
  bootstrap/bootstrap-web-api/Dockerfile
Due: none

fix: Correct JAR path in Dockerfile
  bootstrap/bootstrap-web-api/Dockerfile
Due: none

fix: Change Flyway strategy to migrate before validate
  adapter-out/persistence-mysql/src/main/java/com/ryuqq/authhub/adapter/out/persistence/config/FlywayConfig.java
Due: none

fix: Add V8 migration for role_permissions UUID schema
  Dockerfile.local
  adapter-out/persistence-mysql/src/main/resources/db/migration/V8__role_permissions_uuid_update.sql
Due: none

refactor: DB 스키마 전면 재설정 - JPA Entity 기준 통합
  adapter-out/persistence-mysql/src/main/resources/db/migration/V1__init_schema.sql
  adapter-out/persistence-mysql/src/main/resources/db/migration/V2__insert_default_data.sql
  adapter-out/persistence-mysql/src/main/resources/db/migration/V3__add_tenant_id_to_organizations.sql
  adapter-out/persistence-mysql/src/main/resources/db/migration/V4__organizations_uuid_migration.sql
  adapter-out/persistence-mysql/src/main/resources/db/migration/V5__permissions_schema_update.sql
  adapter-out/persistence-mysql/src/main/resources/db/migration/V6__roles_schema_update.sql
  adapter-out/persistence-mysql/src/main/resources/db/migration/V7__endpoint_permissions_table.sql
  adapter-out/persistence-mysql/src/main/resources/db/migration/V8__role_permissions_uuid_update.sql
Due: none

fix: Security 모듈 의존성 및 컴포넌트 스캔 설정 추가
  bootstrap/bootstrap-web-api/build.gradle
  bootstrap/bootstrap-web-api/src/main/java/com/ryuqq/bootstrap/AuthHubWebApiApplication.java
  local-dev/docker-compose.aws.yml
Due: none

fix: Redisson password 기본값 null → 빈 문자열로 수정
  adapter-out/persistence-redis/src/main/resources/redis.yml
Due: none

fix: prod Redisson password 필드 완전 제거
  adapter-out/persistence-redis/src/main/resources/redis.yml
Due: none

fix: prod Spring Data Redis password 필드도 제거
  adapter-out/persistence-redis/src/main/resources/redis.yml
Due: none

fix: Common 프로필 Redis password 설정 제거 (ElastiCache 무인증 지원)
  adapter-out/persistence-redis/src/main/resources/redis.yml
Due: none

feat: JWT Secret 환경변수 설정 추가
  adapter-in/rest-api/src/main/resources/rest-api.yml
  terraform/ecs-web-api/main.tf
  terraform/ecs-web-api/provider.tf
Due: authhub-ecs-web-api-prod

fix: Controller에서 ApiPaths 상수 클래스 사용하도록 수정
  adapter-in/rest-api/src/main/java/com/ryuqq/authhub/adapter/in/rest/auth/controller/AuthCommandController.java
  adapter-in/rest-api/src/main/resources/rest-api.yml
Due: none

test: 테스트 커버리지 개선 (rest-api 51% → 73%)
  adapter-in/rest-api/src/test/java/com/ryuqq/authhub/adapter/in/rest/auth/error/AuthErrorMapperTest.java
  adapter-in/rest-api/src/test/java/com/ryuqq/authhub/adapter/in/rest/endpointpermission/mapper/EndpointPermissionApiMapperTest.java
  adapter-in/rest-api/src/test/java/com/ryuqq/authhub/adapter/in/rest/organization/error/OrganizationErrorMapperTest.java
  adapter-in/rest-api/src/test/java/com/ryuqq/authhub/adapter/in/rest/organization/mapper/OrganizationApiMapperTest.java
  adapter-in/rest-api/src/test/java/com/ryuqq/authhub/adapter/in/rest/permission/error/PermissionErrorMapperTest.java
  adapter-in/rest-api/src/test/java/com/ryuqq/authhub/adapter/in/rest/permission/mapper/PermissionApiMapperTest.java
  adapter-in/rest-api/src/test/java/com/ryuqq/authhub/adapter/in/rest/role/error/RoleErrorMapperTest.java
  adapter-in/rest-api/src/test/java/com/ryuqq/authhub/adapter/in/rest/role/mapper/RoleApiMapperTest.java
  adapter-in/rest-api/src/test/java/com/ryuqq/authhub/adapter/in/rest/user/error/UserErrorMapperTest.java
  adapter-in/rest-api/src/test/java/com/ryuqq/authhub/adapter/in/rest/user/mapper/UserApiMapperTest.java
  adapter-out/persistence-mysql/src/test/java/com/ryuqq/authhub/adapter/out/persistence/endpointpermission/mapper/EndpointPermissionJpaEntityMapperTest.java
  adapter-out/persistence-mysql/src/test/java/com/ryuqq/authhub/adapter/out/persistence/organization/mapper/OrganizationJpaEntityMapperTest.java
  adapter-out/persistence-mysql/src/test/java/com/ryuqq/authhub/adapter/out/persistence/permission/mapper/PermissionJpaEntityMapperTest.java
  adapter-out/persistence-mysql/src/test/java/com/ryuqq/authhub/adapter/out/persistence/role/mapper/RoleJpaEntityMapperTest.java
  adapter-out/persistence-mysql/src/test/java/com/ryuqq/authhub/adapter/out/persistence/role/mapper/RolePermissionJpaEntityMapperTest.java
  adapter-out/persistence-mysql/src/test/java/com/ryuqq/authhub/adapter/out/persistence/user/mapper/UserJpaEntityMapperTest.java
  adapter-out/persistence-mysql/src/test/java/com/ryuqq/authhub/adapter/out/persistence/user/mapper/UserRoleJpaEntityMapperTest.java
Due: none

feat: JWT RS256 비대칭키 서명 방식 전환
  adapter-out/security/src/main/java/com/ryuqq/authhub/adapter/out/security/jwt/JwtTokenProviderAdapter.java
  adapter-out/security/src/main/resources/keys/private_key.pem
  adapter-out/security/src/main/resources/keys/private_key_pkcs8.pem
  adapter-out/security/src/main/resources/keys/public_key.pem
  adapter-out/security/src/test/java/com/ryuqq/authhub/adapter/out/security/jwt/JwtTokenProviderAdapterTest.java
  adapter-out/security/src/test/resources/keys/private_key_pkcs8.pem
  adapter-out/security/src/test/resources/keys/public_key.pem
Due: none

feat: EndpointPermission Spec 조회 API 추가
  adapter-in/rest-api/src/main/java/com/ryuqq/authhub/adapter/in/rest/endpointpermission/controller/EndpointPermissionQueryController.java
  adapter-in/rest-api/src/test/java/com/ryuqq/authhub/adapter/in/rest/endpointpermission/controller/EndpointPermissionControllerDocsTest.java
  adapter-in/rest-api/src/test/java/com/ryuqq/authhub/adapter/in/rest/endpointpermission/controller/EndpointPermissionQueryControllerTest.java
  adapter-out/persistence-mysql/src/main/java/com/ryuqq/authhub/adapter/out/persistence/endpointpermission/adapter/EndpointPermissionQueryAdapter.java
  application/src/main/java/com/ryuqq/authhub/application/endpointpermission/assembler/EndpointPermissionAssembler.java
  application/src/main/java/com/ryuqq/authhub/application/endpointpermission/dto/query/GetServiceEndpointPermissionSpecQuery.java
  application/src/main/java/com/ryuqq/authhub/application/endpointpermission/dto/response/EndpointPermissionSpecItemResponse.java
  application/src/main/java/com/ryuqq/authhub/application/endpointpermission/dto/response/EndpointPermissionSpecListResponse.java
  application/src/main/java/com/ryuqq/authhub/application/endpointpermission/manager/query/EndpointPermissionReadManager.java
  application/src/main/java/com/ryuqq/authhub/application/endpointpermission/port/in/query/GetAllEndpointPermissionSpecUseCase.java
  application/src/main/java/com/ryuqq/authhub/application/endpointpermission/port/out/query/EndpointPermissionQueryPort.java
  application/src/main/java/com/ryuqq/authhub/application/endpointpermission/service/query/GetAllEndpointPermissionSpecService.java
Due: none

chore: API 문서 및 설정 업데이트
  adapter-in/rest-api/src/docs/asciidoc/index.adoc
  adapter-in/rest-api/src/main/java/com/ryuqq/authhub/adapter/in/rest/auth/controller/AuthCommandController.java
  adapter-in/rest-api/src/main/java/com/ryuqq/authhub/adapter/in/rest/auth/paths/ApiPaths.java
  adapter-in/rest-api/src/main/resources/rest-api-local.yml
  adapter-in/rest-api/src/main/resources/rest-api-prod.yml
  adapter-in/rest-api/src/main/resources/rest-api.yml
  build.gradle
Due: none

chore: Terraform 종속성 락 파일 추가 및 .gitignore 업데이트
  .gitignore
  terraform/ecr/.terraform.lock.hcl
  terraform/ecs-cluster/.terraform.lock.hcl
  terraform/ecs-web-api/.terraform.lock.hcl
  terraform/elasticache/.terraform.lock.hcl
Due: none

feat: EndpointPermission Spec API 문서화 및 REST Docs 설정 개선
  adapter-in/rest-api/build.gradle
  adapter-in/rest-api/src/docs/asciidoc/v1/endpoint-permission/endpoint-permission.adoc
  adapter-in/rest-api/src/main/java/com/ryuqq/authhub/adapter/in/rest/config/WebMvcConfig.java
  adapter-in/rest-api/src/main/resources/static/docs/index.html
  adapter-in/rest-api/src/main/resources/static/docs/v1/auth/auth.html
  adapter-in/rest-api/src/main/resources/static/docs/v1/endpoint-permission/endpoint-permission.html
  adapter-in/rest-api/src/main/resources/static/docs/v1/organization/organization.html
  adapter-in/rest-api/src/main/resources/static/docs/v1/permission/permission.html
  adapter-in/rest-api/src/main/resources/static/docs/v1/role/role.html
  adapter-in/rest-api/src/main/resources/static/docs/v1/tenant/tenant.html
  adapter-in/rest-api/src/main/resources/static/docs/v1/user/user.html
  adapter-in/rest-api/src/test/java/com/ryuqq/authhub/adapter/in/rest/endpointpermission/controller/EndpointPermissionControllerDocsTest.java
Due: none

fix: prod RSA 키 설정 임시 비활성화 (HMAC fallback)
  adapter-in/rest-api/src/main/resources/rest-api-prod.yml
Due: none

fix: 로그인 API에서 tenantId 파라미터 제거
  adapter-in/rest-api/src/main/java/com/ryuqq/authhub/adapter/in/rest/auth/dto/command/LoginApiRequest.java
  adapter-in/rest-api/src/main/java/com/ryuqq/authhub/adapter/in/rest/auth/mapper/AuthApiMapper.java
  adapter-in/rest-api/src/test/java/com/ryuqq/authhub/adapter/in/rest/auth/controller/AuthCommandControllerTest.java
  adapter-in/rest-api/src/test/java/com/ryuqq/authhub/adapter/in/rest/auth/controller/AuthControllerDocsTest.java
  adapter-in/rest-api/src/test/java/com/ryuqq/authhub/adapter/in/rest/auth/dto/command/LoginApiRequestTest.java
  adapter-in/rest-api/src/test/java/com/ryuqq/authhub/adapter/in/rest/auth/mapper/AuthApiMapperTest.java
  adapter-out/persistence-mysql/src/main/java/com/ryuqq/authhub/adapter/out/persistence/user/adapter/UserQueryAdapter.java
  adapter-out/persistence-mysql/src/main/java/com/ryuqq/authhub/adapter/out/persistence/user/repository/UserQueryDslRepository.java
  adapter-out/security/src/main/java/com/ryuqq/authhub/adapter/out/security/jwt/JwtTokenProviderAdapter.java
  adapter-out/security/src/test/java/com/ryuqq/authhub/adapter/out/security/jwt/JwtTokenProviderAdapterTest.java
  application/src/main/java/com/ryuqq/authhub/application/auth/dto/command/LoginCommand.java
  application/src/main/java/com/ryuqq/authhub/application/auth/service/LoginService.java
  application/src/main/java/com/ryuqq/authhub/application/user/port/out/query/UserQueryPort.java
  application/src/test/java/com/ryuqq/authhub/application/auth/dto/command/LoginCommandTest.java
  application/src/test/java/com/ryuqq/authhub/application/auth/service/LoginServiceTest.java
Due: none

test: auth 컴포넌트 테스트 커버리지 개선
  adapter-in/rest-api/src/test/java/com/ryuqq/authhub/adapter/in/rest/auth/component/DefaultJwtClaimsExtractorTest.java
  adapter-in/rest-api/src/test/java/com/ryuqq/authhub/adapter/in/rest/auth/component/ResourceAccessCheckerTest.java
  adapter-in/rest-api/src/test/java/com/ryuqq/authhub/adapter/in/rest/auth/config/CorsPropertiesTest.java
  adapter-in/rest-api/src/test/java/com/ryuqq/authhub/adapter/in/rest/auth/config/JwtValidationPropertiesTest.java
  adapter-in/rest-api/src/test/java/com/ryuqq/authhub/adapter/in/rest/auth/config/SecurityConfigTest.java
Due: none

fix: remove orphaned PermissionSpec components causing bean dependency error
  adapter-in/rest-api/src/main/java/com/ryuqq/authhub/adapter/in/rest/permission/controller/PermissionQueryController.java
  adapter-in/rest-api/src/main/java/com/ryuqq/authhub/adapter/in/rest/permission/dto/response/EndpointPermissionApiResponse.java
  adapter-in/rest-api/src/main/java/com/ryuqq/authhub/adapter/in/rest/permission/dto/response/PermissionSpecApiResponse.java
  adapter-in/rest-api/src/main/java/com/ryuqq/authhub/adapter/in/rest/permission/mapper/PermissionApiMapper.java
  adapter-in/rest-api/src/test/java/com/ryuqq/authhub/adapter/in/rest/permission/controller/PermissionControllerDocsTest.java
  adapter-in/rest-api/src/test/java/com/ryuqq/authhub/adapter/in/rest/permission/controller/PermissionQueryControllerTest.java
  adapter-in/rest-api/src/test/java/com/ryuqq/authhub/adapter/in/rest/permission/mapper/PermissionApiMapperTest.java
  application/src/main/java/com/ryuqq/authhub/application/permission/dto/response/EndpointPermissionResponse.java
  application/src/main/java/com/ryuqq/authhub/application/permission/dto/response/PermissionSpecResponse.java
  application/src/main/java/com/ryuqq/authhub/application/permission/port/in/query/GetPermissionSpecUseCase.java
  application/src/main/java/com/ryuqq/authhub/application/permission/port/out/query/PermissionSpecPort.java
  application/src/main/java/com/ryuqq/authhub/application/permission/service/query/GetPermissionSpecService.java
Due: none

docs: remove endpoint-permission spec references from API documentation
  adapter-in/rest-api/src/docs/asciidoc/index.adoc
  adapter-in/rest-api/src/docs/asciidoc/v1/internal/internal.adoc
  adapter-in/rest-api/src/docs/asciidoc/v1/permission/permission.adoc
  adapter-in/rest-api/src/main/resources/static/docs/v1/endpoint-permission/endpoint-permission.html
Due: none

docs: regenerate HTML documentation without endpoint-permissions
  adapter-in/rest-api/src/main/resources/static/docs/index.html
  adapter-in/rest-api/src/main/resources/static/docs/v1/auth/auth.html
  adapter-in/rest-api/src/main/resources/static/docs/v1/internal/internal.html
  adapter-in/rest-api/src/main/resources/static/docs/v1/permission/permission.html
  adapter-in/rest-api/src/main/resources/static/docs/v1/role/role.html
  adapter-in/rest-api/src/main/resources/static/docs/v1/tenant/tenant.html
  adapter-in/rest-api/src/main/resources/static/docs/v1/user/user.html
Due: none

feat: add Cloud Map service discovery for internal routing
  terraform/ecs-web-api/main.tf
Due: authhub-ecs-web-api-prod

feat: remove ALB and Route53, use Cloud Map only for internal routing
  terraform/ecs-web-api/main.tf
  terraform/ecs-web-api/provider.tf
Due: authhub-ecs-web-api-prod

style: fix terraform formatting
  terraform/ecs-web-api/main.tf
  terraform/ecs-web-api/provider.tf
Due: authhub-ecs-web-api-prod

style: fix terraform formatting in elasticache
  terraform/elasticache/main.tf
Due: authhub-elasticache-prod

fix: update outputs.tf to remove ALB references
  terraform/ecs-web-api/outputs.tf
Due: authhub-ecs-web-api-prod

fix: change cidr_blocks to cidr_block in security group ingress rule
  terraform/ecs-web-api/main.tf
Due: authhub-ecs-web-api-prod

docs: add permission requirements to Swagger API documentation
  adapter-in/rest-api/src/main/java/com/ryuqq/authhub/adapter/in/rest/organization/controller/OrganizationCommandController.java
  adapter-in/rest-api/src/main/java/com/ryuqq/authhub/adapter/in/rest/organization/controller/OrganizationQueryController.java
  adapter-in/rest-api/src/main/java/com/ryuqq/authhub/adapter/in/rest/permission/controller/PermissionCommandController.java
  adapter-in/rest-api/src/main/java/com/ryuqq/authhub/adapter/in/rest/permission/controller/PermissionQueryController.java
  adapter-in/rest-api/src/main/java/com/ryuqq/authhub/adapter/in/rest/role/controller/RoleCommandController.java
  adapter-in/rest-api/src/main/java/com/ryuqq/authhub/adapter/in/rest/role/controller/RolePermissionController.java
  adapter-in/rest-api/src/main/java/com/ryuqq/authhub/adapter/in/rest/role/controller/RoleQueryController.java
  adapter-in/rest-api/src/main/java/com/ryuqq/authhub/adapter/in/rest/tenant/controller/TenantCommandController.java
  adapter-in/rest-api/src/main/java/com/ryuqq/authhub/adapter/in/rest/tenant/controller/TenantQueryController.java
  adapter-in/rest-api/src/main/java/com/ryuqq/authhub/adapter/in/rest/user/controller/UserCommandController.java
  adapter-in/rest-api/src/main/java/com/ryuqq/authhub/adapter/in/rest/user/controller/UserQueryController.java
  adapter-in/rest-api/src/main/java/com/ryuqq/authhub/adapter/in/rest/user/controller/UserRoleController.java
Due: none

fix: align Gateway header parsing with actual Gateway implementation
  adapter-in/rest-api/src/main/java/com/ryuqq/authhub/adapter/in/rest/auth/config/SecurityConfig.java
  adapter-in/rest-api/src/main/java/com/ryuqq/authhub/adapter/in/rest/auth/filter/GatewayAuthenticationFilter.java
  adapter-in/rest-api/src/main/java/com/ryuqq/authhub/adapter/in/rest/auth/paths/ApiPaths.java
  adapter-in/rest-api/src/main/java/com/ryuqq/authhub/adapter/in/rest/auth/paths/SecurityPaths.java
  adapter-in/rest-api/src/main/resources/rest-api.yml
  gradle/libs.versions.toml
  local-dev/docker-compose.aws.yml
  local-dev/scripts/aws-port-forward.sh
Due: none

fix: add ROLE_ prefix to Gateway roles for Spring Security compatibility
  adapter-in/rest-api/src/main/java/com/ryuqq/authhub/adapter/in/rest/auth/filter/GatewayAuthenticationFilter.java
  local-dev/docker-compose.aws.yml
Due: none

test: update GatewayAuthenticationFilterTest for X-User-Roles header
  .claude/settings.local.json
  adapter-in/rest-api/src/main/java/com/ryuqq/authhub/adapter/in/rest/auth/filter/GatewayAuthenticationFilter.java
  adapter-in/rest-api/src/test/java/com/ryuqq/authhub/adapter/in/rest/auth/filter/GatewayAuthenticationFilterTest.java
Due: none

chore: add local-dev/secrets/ to gitignore
  .gitignore
Due: none
